html {
    position: absolute;
    min-height: 100%;
}

body{
    height: 100%;
}

#widget {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.text-display {
    padding-left: 15px;
    padding-right: 15px;
}

#path-display {
    position: fixed;
    top: 0px;
    right: 0px;
}